@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Azeret Mono;
}
nav {
  width: 1280px;
  height: 70px;
}
.navBarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.navBarContent h2 {
  font-size: 28px;
  margin-left: 70px;
  margin-top: 17px;
}
.navBarContent button {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 5px;
  padding: 10px;
  opacity: 0.8;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  margin-right: 70px;
  margin-top: 15px;
  cursor: pointer;
}
.heroSection {
  background-image: url(assets/Hero-bg.png);
  background-repeat: no-repeat;
}
.heroSectionItem {
  width: 830px;
  text-align: center;
  position: relative;
  left: 20%;
}
.heroSectionItem img {
  margin-bottom: 15px;
  /* Group */

  width: 240.28px;
  height: 240px;

  top: 0%;
  bottom: 0%;
}
.heroSectionContent h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 38px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
}
.heroSectionContent p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.heroSectionContent button {
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: black;
  margin-top: 25px;
  margin-bottom: 60px;
  cursor: pointer;
}
.abouWebDevSection {
  /* background-color: chocolate; */
  width: 1140px;
  margin-left: 80px;
  margin-top: 40px;
  border-radius: 10px;
  height: 1255px;
  margin-bottom: 80px;

  background: rgba(13, 19, 33, 0.02);
}
.abouWebDevSectionContent {
  background-color: white;
  margin-left: 80px;
  margin-right: 80px;
  position: relative;
  top: 80px;
  bottom: 80px;
}
.abouWebDevImg1 {
  display: flex;
  margin-top: 50px;
}
.abouWebDevDescription {
  text-align: center;
}
.abouWebDevDescription h1 {
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 25px;
}
.abouWebDevImg1Description {
  margin-left: 50px;
  width: 50%;
  align-items: center;
}
.abouWebDevImg1Description p {
  margin-top: 20px;
  margin-bottom: 25px;
}
.commonBtn {
  padding: 10px;
  border-radius: 1px solid 5px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 60px;
  cursor: pointer;
}
